<html>
<head>
<title>EWU | Project Builder Tools</title>
	
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/app.css">
</head>

<body>
	<form action="index.php" method="post">

	<!-- foundation javascript -->
	<script src="js/vendor/jquery.js"></script>
	

	<!-- Top bar -->
	<div class="top-bar ewu-red centered">
		<img class="centered" src="images/ewu-logo.jpg" style="width: 65%; height: auto; border: 2px solid black;"></img>
	</div>

	<!-- Main header -->
	<div>
		<h1 class="centered">Project Builder Tools</h1>
	</div>

	<!-- Separator -->
	<hr style="margin-left: 10%; margin-right: 10%;"></hr>

	<!-- Comment at top for future teams/devs -->
	<div class="centered" style="margin-left:10%; margin-right:10%;font-size: 18px;">
		<p>
			The following toolset is provided by the Information Technology department. 
			The available tools are meant to assist in the development of Senior Projects. 
			Developers who are extending this project, please see the bottom of the page for
			documentation.
		</p>
	</div>
	

	<div>
		<!-- Separator -->
		<hr style="margin-left: 10%; margin-right: 10%;"></hr>
	
		<!-- Tool Table -->
		<table class="ewu-red centered" style="width: 80%; height: auto; border: 2px, solid, black;">
		
			<!-- Table title -->
			<h2 class="centered">Available tools:</h2>
		
			<!-- blank row for formatting -->
			<tr></br></tr>

			<!-- Table header row -->
			<thead>
			<tr>
		  		<th class="centered" width="auto">Name</th>
		  		<th class="centered" width="auto">Description</th>
		  		<th class="centered" width="auto">Example</th>
		  		<th class="centered" width="auto">Documentation</th>
		  		<th class="centered" width="auto">Code</th>
			</tr>
	  		</thead>
		
			<!-- SSO -->
			<tr class="tablerow">

				<!-- Name -->
				<td>
					<strong>Single Sign On</strong>
				</td>
				
				<!-- Description -->
				<td> 
					Easily integrate EWU SSO into your project with attributes available.
					</br></br>		
					There is also a .NET version available.
				</td>
			
				<!-- Example -->
				<td>
					<a href="{{ app.request.basepath }}/sso_test">PHP SSO Tool</a>
					</br></br>
					<a href="http://146.187.134.41/ssoexample">
						.NET SSO Tool
					</a>
				</td>
			
				<!-- Documentation -->
				<td>
					<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpframework/src/f31442278832995f6bfabd93c2ee12bad82107a8/src/api/sso/?at=master">README</a>
					</br></br>
					<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-dotnetcas-example/overview">README</a>
				</td>	
				
				<!-- Source -->
				<td>
					<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpcas-example/overview">
						Source
					</a>
				
					</br></br>
					<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-dotnetcas-example/src/aaa45dddcfab2c69f8f9760a7446bc9e6babb03e/SSOExample/SSOExample/Web.config?at=master&fileviewer=file-view-default">
						Source
					</a>
				</td>
			</tr>
			<!-- end SSO -->
		
			<!-- OAuth - BitBucket-->
			<tr class="tablerow">
				<td>
					<strong>OAuth</strong>
				</td>
			
				<td> 
					OAuth example using Bitbucket
					</br></br>
					OAuth example using Google
				</td>
			
				<td>
					<a href="{{ app.request.basepath }}/bit/">BitBucket Tool</a>
					</br></br>
					<a href="{{ app.request.basepath }}/google/">Google Tool</a>
				</td>
			
				<td>
					<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpframework/src/f31442278832995f6bfabd93c2ee12bad82107a8/src/api/Oauth/?at=master">
						README
					</a>
				</td>
			
				<td>
					<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpframework/src/f31442278832995f6bfabd93c2ee12bad82107a8/src/api/Oauth/BitBucketOauth.php?at=master&fileviewer=file-view-default">
						Source
					</a>
				</td>
			</tr>
			<!-- end OAuth -->
			
			
			<!-- Database Integration -->
			<tr class="tablerow">
				<td>
					<strong>Database Integration</strong>
				</td>
			
				<td> 
					Database integration through Silex. 
				</td>
			
				<!-- Blank, no example -->
				<td>
		
				</td>
			
				<td>
					<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpframework/src/f31442278832995f6bfabd93c2ee12bad82107a8/db/?at=master">
						README
					</a>
				</td>
			
				<!-- Blank, no source -->
				<td>
			
				</td>
			</tr>
			<!-- End database -->
		
			<!-- Add more here -->
	</table>
	<!-- End Tool Table -->
	
	</div>

	<!-- Separator -->
	<hr style="margin-left: 10%; margin-right: 10%;"></hr>

	<!-- Developers Section -->
	<div class="centered" style="margin-bottom: 50px">
		<h2>Developers:</h2>

		<table class="ewu-red centered" style="width: 35%; height:auto;">
			<tr class="tablerow" >
				<td>
					<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpframework">

						About this framework
					</a>
					</br></br>

					<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpframework/src/f31442278832995f6bfabd93c2ee12bad82107a8/src/api/?at=master">
						
						Creating a route
					</a>
					
					</br></br>
					<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpframework/src/f31442278832995f6bfabd93c2ee12bad82107a8/src/views/?at=master">
						About this homepage
					</a>
				</td>
			<tr>
		</table>
	</div>

	<!-- Eagle red footer at bottom -->
	<div class="footer ewu-red"></div>

</body>
</html>
